
  <div class="form-group">
    <label for="description">Comment</label>
    <textarea name="description" id="description" class="form-control"><%= comment.description %></textarea>
  </div>

  <a href="/articles/<%=article.slug%>" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>