
  <div class="form-group">
    <textarea name="description" id="description" class="com-control" placeholder="내용을 입력하세요"><%= comment.description %></textarea>
  </div>
  <div class="com-e-c">
    <div class="btn-a">
      <a href="/articles/<%=article.slug%>" class="btn-cancel">취소</a>
    </div>
    <button type="submit" class="btn-button">등록</button>
  </div>