<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/coedit.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Comment</h1>
    
        <form action="/articles/change/<%=article.slug%>/<%=comment.id%>?_method=PUT" method="POST">
          <%- include('_comment_fields') %>
        </form>
      </div>
      <!--/comment.id-->
</body>
</html>
