<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--join_fields 양식을 받아 articles/join 경로에 요청-->
    <div class="container">
        <h1 class="mb-4">회원가입</h1>
        <form action="/articles/join/new" method="POST">
          <%- include('_join_fields')%>
        </form>
      </div>
</body>
</html>