body{
    background-color: whitesmoke;
}
.every-main{
    padding-bottom: 15px;
    border-bottom:1px solid gainsboro
}
.read-more{
    text-decoration: none;
    color: black;
}
.every{
    margin-left: 193px;
}
.main-body{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}
.card-body{
    padding-top: 4px;
    margin-bottom: 20px;
}
.des-date{
    display: flex;
}
.card-text{
    font-size: 14px;
    margin-right: 6px;
}
.card-subtitle{
    color: #999;
    font-size: 14px;
}